:root {
  --white: 0, 0%, 100%;
  --dark-gunmetal: 224, 51%, 18%;
  --cultured: 210, 36%, 97%;
  --malachite-green: 136, 56%, 62%;
  --palatinate-blue: 244, 86%, 59%;
  --Bright-Gray: 224, 14%, 92%;
  --Roman-silver: 221.54, 5.53%, 53.92%;
}
